<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">400 Bad Request</h1>
    <p>
      <strong>Error Name</strong>: {{error.name}}</p>
    <p>
    <p>
      <strong>Error Msg</strong>: {{error.msg}}</p>
    <p>
  </div>
</div>
<!--ERROR IMAGE-->

<div class="container ">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="center-y"
    <img src="/images/404_error-01.png" alt="Error 400 - Bad request.">
      <h4>
      <a href="/">← Back to Groundz Page</a>
      </h4>
      </div>
      </div>
    <div class="col-4"></div>
  </div>
</div>