<div class="container">
  <div class="row">

    <div class="col center-y">
       <div class="block mx-auto" style="width: 300px;">
      <img class="four-o-four container" src="/images/404_error_icon-01.png" alt="Error 404 - Page not Found">
      <h4>
        <a class="text-center block mx-auto" style="width: 300px;" href="/">← Back To Groundz</a>
      </h4>
      </div>
    </div>
      
</div>
  </div>
