<div class="container">
 
</div>

<div class="container ">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="center-y">
    <img src="/images/404_error-01.png" alt="Error 404 - Page not Found.">
      <h4>
      <a href="/">← Back to Groundz Page</a>
      </h4>
      </div>
      </div>
    <div class="col-4"></div>
  </div>
</div>