<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="/aboutUs" class="navigation__link">About Groundz</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link"><span>*</span>Cards</a></li>
    </ul>
  </nav>
</div>

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-1 text-white">Groundz</h1>
    <h2 class="display-4 text-white">About Us</h2>
    <h1 class="display-4 text-center">
      {{!-- <span role="img" aria-label="Face with rolling eyes">🙄</span> --}}
    </h1>
    <p class=" lead text-white">Groundz is for anyone looking to explore national parks across the United States.
</p>
<p class="lead text-white">This App was created by: Alex Samalot, Owais Master, Zachary Cohen and Fernando Marinho as a group project for Trilogy Web Development Bootcamp.</p>
    <a href="/">← Back To Home</a>
  </div>
</div>




<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md ml-4">
        <small class="d-block mb-3 text-muted">©2019</small>
      </div>
      <div class="col-6 col-md">
        <a href="/"><h5>Groundz</h5></a>
        <ul class="list-unstyled text-small">
          {{!-- <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li> --}}
        </ul>
      </div>
      <div class="col-6 col-md">
        <a href="/aboutUs"><h5>About</h5></a>
        <ul class="list-unstyled text-small">
          {{!-- <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li> --}}
        </ul>
      </div>
      {{!-- <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
        </ul>
      </div>
    </div> --}}
  </footer>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>