{{!-- <div class="align">
<div class="card-container">  
  <div class="card-vertical">
    <div class="card-front">
      <article class="card-front-content">
      <h1>Park </h1>
      <p>Information</p>
       <h6>hover for weather</h6>
      <article>
    </div>
    <div class="card-back">
      <article class="card-back-content">
        <h1>The Weather</h1>
        <img src="http://i.imgsafe.org/ab5b14f.jpg" > 
       <article>
    </div>
  </div>
</div> --}}

<div class="card 1">
  <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>