<div class="card2">
  <div class="card_title title-white">
    <div class="card-body">

      <h5 class="card-title">{{this.User}}</h5>
      <p>
        <strong>Name</strong>: {{this.Name}}</p>
      <p>
        <p>
          <strong>Weather</strong>: {{this.Weather}}</p>
        <p>
          <strong>Description:</strong> {{this.Description}}</p>
        <a href="/">← Back To Home</a>
        <hr>
    </div>
  </div>
</div>